@font-face {
  font-family: 'Gotham Book Regula';
  src: 
      url('/arquivos/Gotham-Book.eot.js?#iefix') format('embedded-opentype'),  
      url('/arquivos/Gotham-Book.otf.js')  format('opentype'),
      url('/arquivos/Gotham-Book.woff.js') format('woff'), 
      url('/arquivos/Gotham-Book.ttf.js')  format('truetype'), 
      url('/arquivos/Gotham-Book.svg.js#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: 
      url('/arquivos/FuturaStd-Medium.eot.js?#iefix') format('embedded-opentype'),  
      url('/arquivos/FuturaStd-Medium.otf.js')  format('opentype'),
      url('/arquivos/FuturaStd-Medium.woff.js') format('woff'), 
      url('/arquivos/FuturaStd-Medium.ttf.js')  format('truetype'), 
      url('/arquivos/FuturaStd-Medium.svg.js#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std Book';
  src: 
      url('/arquivos/FuturaStd-Book.eot.js?#iefix') format('embedded-opentype'),  
      url('/arquivos/FuturaStd-Book.otf.js')  format('opentype'),
      url('/arquivos/FuturaStd-Book.woff.js') format('woff'), 
      url('/arquivos/FuturaStd-Book.ttf.js')  format('truetype'), 
      url('/arquivos/FuturaStd-Book.svg.js#FuturaStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*reset*/
*{margin:0px;padding:0px;outline:none!important;box-sizing: border-box;}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img, abbr, acronym, fieldset-img, table {border: 0 none}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block}
ol, ul, menu {list-style: none;margin:0}
body {line-height: 1;font-size: 14px;background:#fff;padding: 0;-webkit-font-smoothing: antialiased !important;text-rendering: optimizeLegibility;}
a {text-decoration: none;cursor: pointer;color: #000;transition: all .15s ease;backface-visibility: hidden}
a:hover{color:#666}
:after,
:before{transition: all .15s ease;backface-visibility: hidden}
p {line-height: 20px;color: #8E8E8E;font-size: 14px;}
em {font-style: normal}
img {border: none}
input:focus {outline: none}

/*grid*/
.ext {clear: both;float:none;width: 100%}
.ext:after{content: "";display: table;clear: both}
.int,
.container {margin: 0 auto;position: relative;width:100%;max-width: 1175px;}
.line {clear:both; float:none}
.line:after{content: "";display: table;clear: both}
.col {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;float:left}
.col10 { float:left; width:10%}
.col15 { float:left; width:15%}
.col16 { float:left; width:16%}
.col20 { float:left; width:20%}
.col25 { float:left; width:25%}
.col30 { float:left; width:30%}
.col33 { float:left; width:33.33%}
.col35 { float:left; width:35%}
.col40 { float:left; width:40%}
.col45 { float:left; width:45%}
.col48 { float:left; width:48%}
.col50 { float:left; width:50%}
.col60 { float:left; width:60%}
.col66 { float:left; width:66.66%}
.col70 {float:left;width: 70%}
.col75 { float:left; width:75%}
.col80 { float:left; width:80%}
.col90 { float:left; width:90%}
.col100 { float:left; width:100%;clear: both}
.col-right { float: right}
.col-right.border { border-left:10px solid #fff}
.col-left.border { border-right: 10px solid #fff}
.clear { clear:both}
.hide { display: none}
.accordion-toggle .link-box-edit{right: -6px;top: -7px;}
.transition{transition: all .2s ease;backface-visibility: hidden}
p.client-first-name, p.client-different-document, p.client-document, p.client-company-ie, p.client-company-postal-code, p.client-document-type, p.ship-number, p.ship-city, p.payment-card-due-date, p.client-document, p.client-phone, p.client-company-document, p.client-company-ie, p.client-company-postal-code, p.client-company-phone, p.ship-number, p.ship-city, p.ship-state, p.ship-more-info, p.client-last-name{width: 50%;margin-left:0;margin-right:0;float:left;padding:0 5px}
p.ship-more-info label span{font-size:0;}
p.ship-more-info label span:before{content:"Referencia";font-size:16px;}
p input{width: auto;height: 30px;box-sizing: border-box;}
.monetary.form-postal-code.forms{height:75px;}

.modal p{color:#fff!important}
.AddressToggle{clear:both;}
#creditCardpayment-card-0Name{height:30px!important;width: 275px!important;}
.PaymentCardCVV label{display:block;margin-top: 6px;}
.body-cart  .summary-totalizers *{color: #4A4A4A;font-size:14px!important;border-color: #fff;margin: 0;border: 0;}
.loading-inline{display:none}
#summary-postal-code{border:1px solid #d8d8d8!important;height:30px;}
button#cart-shipping-calculate{background:#d8d8d8;transition:all .15s linear}
button#cart-shipping-calculate:hover{background:#ccc}
.empty-cart-links a{margin:0 auto;float:none}

/*HEADER
----------------------------------------*/
#header{background-color: #ffffff;box-shadow: 0 0 16px -3px #666;position: relative;z-index: 999;}
#header > .int{padding-bottom:10px;display: flex;justify-content: space-between;align-items:center;height: 60px;}
#header > .int ul{overflow: hidden;height: 30px;margin-top: 7px;}
#header > .int ul li{padding: 0 12px;border-right:1px solid #444;height: 11px;line-height: 11px;}
#header > .int ul li:last-child{padding-right:0;border-right:0;}
#header > .int ul li:first-child{padding-left:0;}
#header .logo{margin-top:9px}

.seller.muted,
span.brand-name{display:none}
.newsletter label{display:flex;align-items:center}
.newsletter label input{margin-right:5px;}

/*EMPTY CART*/
.empty-cart-content{text-align:center;position: relative;z-index: 99}
.empty-cart-title{color:#000;font-size: 22px}
.empty-cart-title:before{content:"Meu Carrinho";position:absolute;top: -45px;width: 100%;left: 0;background: #fff;font-size: 30px}
.empty-cart-message{margin-bottom:20px}
#cart-choose-products{max-width: 320px;border-radius: 5px;}
.step .text label, .step .select label{font-size:16px;margin-bottom:8px}
.text input{border-radius: 5px;height:30px;font-size: 14px;width: 100%;}
.body-cart .summary-totalizers *{font-size: 15px !important;}

/*FOOTER
----------------------------------------*/
footer#footer{padding-bottom: 25px;margin-top: 50px;padding-top: 25px;background-color: #F7F7F7;}
footer#footer .int{display:flex;justify-content: space-between;flex-wrap:wrap;padding: 0;}
footer#footer .int .box-footer:first-child{display:flex;align-items:center;}
footer#footer .int .box-footer:first-child img{margin-right: 30px;}
footer#footer .int .box-footer:last-child ul{display:flex;align-items:center;}
footer#footer .int .box-footer:last-child ul li{margin-left:15px;}
footer#footer .int .box-footer .title-footer{color:#727272;font-weight: 700;font-size:13px;display:block;margin-bottom:15px;}
#cart-coupon{height:30px}
.payment-group-list-btn{width:auto;}
.payments span{display:block}
.payments {display:flex;align-items:center}
.payments .boleto, .payments .visa, .payments .master, .payments .amex, .payments .elo, .payments .diners, .payments .hipercard, .payments .cabal, .payments .mer, .delivery-list .btnEdit .icon, .delivery-list .btnDel .icon {
  background-image: url(/arquivos/common-s323989118f.png);
  background-repeat: no-repeat;
}
.payments .boleto {
  background-position: -674px 0;
  width: 40px;
  height: 29px;
}
.flags-security .payments li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px
}

.flags-security .payments li:nth-child(5) {
  clear: both
}

.flags-security .payments li:last-child {
  margin-right: 0
}

.flags-security .payments li span {
  display: block
}

.payments .visa {
  background-position: -1622px 0;
  width: 40px;
  height: 29px
}

.payments .master {
  background-position: -1100px 0;
  width: 40px;
  height: 29px
}

.payments .amex {
  background-position: -528px 0;
  width: 40px;
  height: 29px
}

.payments .elo {
  background-position: -846px 0;
  width: 40px;
  height: 29px
}

.payments .diners {
  background-position: -805px 0;
  width: 40px;
  height: 29px
}

.payments .hipercard {
  background-position: -962px 0;
  width: 40px;
  height: 29px
}

.payments .cabal {
  background-position: -715px 0;
  width: 40px;
  height: 29px
}

.payments .mer {
  background-position: -1170px 0;
  width: 35px;
  height: 27px
}

.delivery-list .btnEdit .icon {
  background-position: -210px 0;
  width: 22px;
  height: 19px
}

.delivery-list .btnDel .icon {
  background-position: -187px 0;
  width: 22px;
  height: 19px
}

.vtex-front-messages-placeholder{width:100%;height:100%;position:fixed;left:0;top:0;background: rgba(255,255,255,.8);margin:0;display: flex!important;justify-content:center;align-items:center;}
.vtex-front-messages-template{width:25%;min-width:320px;box-shadow: 0 0 14px #d0d0d0;background: #fff;border-radius: 5px;height:60px;display: flex!important;align-items:center;justify-content: center;}
.vtex-front-messages-type-warning{border:2px solid #cb343a!important;color:#cb343a;text-transform:uppercase;}
.vtex-front-messages-type-warning .vtex-front-messages-detail:after{content:"!"}
.vtex-front-messages-placeholder .vtex-front-messages-close-all.close{top: 50%;left: 60%;right: initial;transform: translate(50%,-130%);}

.security{
  left: initial;
  right: initial;
  display: block;
}
.security ul{display: flex;align-items:center;flex-wrap:wrap;justify-content: space-between;margin: 0;padding: 0;}
.security ul li{margin-left:10px}

@media only screen and (max-width: 620px) {

.link-coupon-add{
  display: flex;justify-content:center;align-items:center;width: 310px;height:48px;box-sizing: border-box;transition: all .12s linear;
}
p.coupon-data.pull-right{width:100%;max-width:339px;display:block;margin-bottom: 0;}
.link-coupon-add{background:#f6f6f6;color: #666;text-transform: initial;}
.link-coupon-add span{display:block;color: #666;font-weight: 700;}
.link-coupon-add span:first-child{margin-right:4px}
}

@media only screen and (min-width: 620px) {
  
  /*CART
  ----------------------------------------*/
  body.body-cart h1#cart-title{padding: 0;margin: 0;margin-top: 42px;font-weight: 700;font-size: 25px;color: #4A4A4A;}
  body .product-image img{width: 60px;height: auto;max-width: initial;margin-top: 7px;}
  body.bod-cart .body-order-form .cart-items .product-name{display: flex!important;position:relative;line-height: initial!important;padding-top: 0;overflow: initial!important;align-items: center;word-break: break-word;max-width: 70px;white-space: pre-wrap!important;}
  body.body-cart .cart-items .product-name{position: relative;padding-bottom: 30px;}
  .cart-items .product-name hr{display: none;}
  body table.cart-items{border:1px solid;background:#fff}
  .item-remove{padding-right:0!important}
  body table.cart-items thead{background-color: #f7f7f7;}
  body table.cart-items thead tr th:last-child{border-right:none!important}
  body table.cart-items tbody tr td{background: none!important;vertical-align: baseline;}
  body table.cart-items tbody tr td input{border:0;box-shadow:none!important;}
  .table .item-remove a{padding: 0;}
  body table.cart-items th{color: #666;font-size: 14px;line-height: 12px;background-color: #E5E5E5;padding: 15px 10px;font-weight: 700;}
  body .cart-links-bottom{width:100%;}
  .cart-links-bottom .btn-success{width:312px!important;text-transform:uppercase;display: flex;justify-content: center;align-items: center;} 
  .cart-links-bottom .btn-success:before{display:none!important;}
  .link-choose-more-products-wrapper #cart-choose-more-products{background: #f6f6f6;display:block;float: left;width: 310px;height: 51px;margin-right: 0;font-size: 14px;font-weight: 700;text-decoration: none;text-align: center;color: #444;line-height: 50px;}
  .link-choose-more-products-wrapper #cart-choose-more-products:hover{text-decoration:none;background-color: #999;margin-right: 0;color: #fff;}
  body .cart{padding-bottom:0px!important;margin-bottom: 20px!important;padding: 0px 2px;margin-top: 30px;border: 2px solid #ddd;border-radius: 0;}
  body table.table{margin-top: 3px;padding: 5px;border: 0;}
  body .summary-totalizers{position:relative;top:-9px;left:-3px}
  .full-cart .summary-totalizers .empty{display:none}
  .full-cart .summary-totalizers .shipping-calculate + tfoot tr:last-child .info,
  .full-cart .summary-totalizers .shipping-calculate + tfoot tr:last-child .monetary{color: #4A4A4A;font-weight: 500;text-transform: uppercase;font-size: 18px!important;}
  span.error{/* display:none */clear: both;}

  .masked-info-security, .identified-user-security, .payment-unauthorized-security{display:none;}
  .modal-body{text-align:center;margin: auto;float: none;}
  .identified-user-modal-body{margin-top:15px;}

  .PaymentCardHolderName input{height:30px!important;}

  #creditCardpayment-card-0Name {width: 260px;
  }

  .CardForm input {height: auto;font-size: 14px;line-height: 14px;min-height: 20px;}
  .body-cart .full-cart .summary-totalizers .info{text-align: right;color: #4A4A4A;width: 165px;}
  .body-cart .full-cart .summary-totalizers tfoot .info{padding-left: 0%!important;margin: 0!important;width: 100%;color: #67c119!important;}
  .body-cart .full-cart .summary-totalizers .monetary{text-align: right;}
  body table.table,
  body table.table *{border-color: #fff;}
  .total-selling-price{font-weight:700;font-size: 16px;color: #67c119;}
  .add-item-attachment-container{position:absolute;bottom: 10px;}
  .add-item-attachment-container a,
  a.clone-item{display:flex;width:160px;height:40px;justify-content:center;align-items:center;border:none;box-shadow:none;background:#cb343a;color:#fff!important;text-shadow:none;font-size:0;transition:all .15s linear!important}
  .add-item-attachment-container a:before,
  a.clone-item:before{content:"Criar assinatura";font-size:12px;}
  a.clone-item:before{content:"Duplicar item"}
  .add-item-attachment-container a:hover,
  a.clone-item:hover{background:#e2272f;}
  .icon-remove{background: rgba(0, 0, 0, 0) url(/arquivos/delete-items.png) no-repeat scroll 0 0;color: #fff;display: block !important;font-size: 0;height: 20px;margin: 0 0 0 0;width: 17px;float: right;position: relative;top: 5px;}
  .icon-remove:before{display:none}
  .icon-remove:hover{opacity:.7;filter:alpha(opacity=70);}
  body.body-order-form table.table,
  .full-cart .summary-totalizers tr{border:0px;}
  .full-cart .summary-totalizers tr:nth-child(1) .monetary,
  .full-cart .summary-totalizers tr:last-child .monetary{color: #67c119!important;font-weight:500;}
  .full-cart .summary-totalizers tfoot{position: relative;}
  .full-cart .summary-totalizers tfoot td{}
  .full-cart .summary-totalizers tfoot .info{border-radius:0 0 0 5px;display:block}
  .full-cart .summary-totalizers tfoot .monetary{border-radius:0 0 5px 0}
  .full-cart .summary-totalizers tr td:nth-child(3n){padding-right: 15px;box-sizing: border-box;}
  .shipping-calculate *{border:0!important}
  .full-cart .summary-totalizers .shipping-calculate + tfoot tr:first-child{border:0!important;}
  .link-coupon-add{
    display: flex;justify-content:center;align-items:center;width: 310px;height:48px;box-sizing: border-box;transition: all .12s linear;
  }
  p.coupon-data.pull-right{width:100%;max-width:339px;display:block;margin-bottom: 0;}
  .link-coupon-add{background:#f6f6f6;color: #666;text-transform: initial;}
  .link-coupon-add:hover{background:#999;text-decoration:none;}
  .link-coupon-add:hover span{color:#fff;}
  .link-coupon-add span{display:block;color: #666;font-weight: 700;}
  .link-coupon-add span:first-child{margin-right:4px}

  .steps-view{background:#fff;border:1px solid #ddd;border-radius:0;width: 100%;border-radius: 5px;}
  .payment-confirmation-wrap{background:transparent;padding: 0;}
  .mini-cart .affix-top .payment-submit-wrap{margin:0;position: relative;bottom: 0 !important;}
  .mini-cart .affix-top .payment-submit-wrap button{height:45px;position:initial!important}
  .mini-cart .affix .payment-submit-wrap{margin:0;}

  /*SUMMARY ON CART*/
  .body-cart .summary-totalizers {width: 24%}
  .hproduct{display:flex;align-items:center;justify-content:space-between;}
  .mini-cart .url{margin:0}
  .hproduct .shipping-date{width: 80px;text-align: center;}
  .body-order-form .cart-items:after{display:none}
  .hproduct .description{display:flex;margin: 0;width: 130px;align-items: center;line-height: normal;}
  .hproduct .description .price{margin:0;width: 85px;text-align: right;}

  .summary-cart-template-holder{border-top:0!important}
  .body-order-form .totalizers.summary-totalizers.cart-totalizers{margin-top:0}
  .body-order-form .mini-cart tfoot{background:#e5e5e5;}
  .body-order-form .mini-cart tfoot td.monetary{padding-bottom:5px}
  .body-order-form .mini-cart .table td{padding-bottom:5px}

  .cart-template.mini-cart{border: 0;}
  .icon-credit-card{display:none}
  .summary-cart-template-holder .cart{background: transparent!important;margin: 0;}
  .payment-data .active .accordion-heading span{pointer-events: none;position: relative;top: 24px;color: #fff;z-index: 99;}

  /*EMAIL*/
  .client-pre-email .emailInfo{padding: 9px 22px 15px;border:0;border-radius:0;background: #FCFCFC;position:relative;margin-top: 15px;}
  .client-pre-email .emailInfo:after{position:absolute;right:15px;top:30px;content:"";display:block;background: url('/arquivos/icon-noun-security.png') no-repeat 0 0;width: 75px;height: 84px;}
  .client-pre-email .emailInfo li{line-height:28px}
  .client-pre-email .emailInfo h3,
  .client-pre-email .emailInfo .icon-lock{display:none}
  .client-pre-email .btn-success{width: 28%;color: #fff;margin: 0;border-radius: 0 5px 5px 0;background: #CB343A;position: initial;}
  #btn-client-pre-email+span{display:none!important;}
  .client-pre-email-h label{text-align:center}
  .client-pre-email-h label > *{display:block;float:none;line-height:38px;font-weight: 400!important;}
  .link-cart{float:left;font-weight:400;color:#CB343A;display:flex;justify-content:space-between;align-items:center;margin-top:10px;}
  .link-cart a{display:block;color:#CB343A;font-size:15px;text-decoration:none;}
  .link-cart a:hover{color:#434343;}
  .link-cart:before{content:"";display:block;background: url('/arquivos/icon-back.png') no-repeat 0 0;width: 23px;height: 27px;margin-right:10px}
  .client-pre-email{border-top:0!important}
  .client-pre-email input[type="email"]{width: 72%;float:left;border-color: #4a4a4a;border-radius: 5px 0px 0px 5px;box-shadow: none!important;height: 50px;border-right: 0;font-weight: 400;padding-left: 3%;font-size: 14px;}
  body:not(.body-order-form) .client-email input{background:#fff;display: block;width: 98%!important;padding: 9px 10px;border: 1px solid #ccc;box-sizing: border-box;height: 40px;}

  /*PAYMENT*/
  #go-to-shipping{width: 100%!important;margin-top: 15px;height: 55px;border-radius: 5px;text-transform: uppercase;padding: 0;line-height: 45px;font-size: 15px;background: #CB343A;}
  #go-to-shipping:hover{background:#da3e44}
  .accordion-toggle span{color:#CB343A;text-transform:uppercase;font-size:12px}
  .row-fluid .orderform-template.active{margin-top:20px;}
  .step, .cart, .totalizers{border:1px solid #E5E5E5;}
  #orderform-title{display:none!important}
  [class^="icon-"], [class*=" icon-"]{color: #67c119;font-size:16px;}
  .body-order-form .summary-totalizers .accordion-group{margin:0;;}
  body .totalizers.summary-totalizers.cart-totalizers{padding:0;position:relative;margin: 10px 0 0 0;left: 0;width: 100%;overflow: hidden;border: 0;box-sizing: border-box;max-width: 312px;}
  body .totalizers.summary-totalizers.cart-totalizers table{margin: 0;}
  body-order-form .totalizers.summary-totalizers.cart-totalizers table{margin-top:25px;}
  .summary-cart-template-holder+#go-to-cart-button:before{display:none;}
  #go-to-cart-button{margin:10px 0 30px;float:right;text-decoration:underline;}
  #go-to-cart-button a{font-size:12px;font-weight:700}
  body .btn-success {background: #67c119!important;color: #FFFFFF;width: 100%;border:0;transition: all .12s linear!important;font-size: 17px;text-transform: uppercase;display: flex;border-radius: 0;margin-top: 10px;height: 55px;justify-content: center;align-items: center;padding: 0;font-weight: 700;}
  body .btn-success#payment-data-submit i{display:none!important}
  .body-order-form .btn-success{width: 100%;margin-top:30px;position: initial;border-radius:5px;text-transform:uppercase;font-size:14px;height:40px;line-height:40px;background:#CB343A;}

  /*body .btn-success:hover{background: #05ad04!important;}*/
  a#cart-to-orderform{background: #67c119;}
  body .btn-success:hover{}
  button.btn-go-to-payment{width:100%!important}
  body #cart-to-orderform:before{content:"";display:inline-block;margin-right:8px;width:15px;height:20px;top: 3px;background:url("/arquivos/icon-lock.png") no-repeat;position: relative}
  body .btn-place-order-wrapper{float:right;display: block}
  .item-quantity-change i:before{color: #67c119;font-weight:normal;}
  .body-order-form .form-step{display:flex;justify-content:space-between;}
  .payment-group{width: 100%;max-width: initial;float:left;}
  .body-order-form .form-step:before,
  .body-order-form .form-step:after{display:none;}

  /*orderplaced*/
  #app-top{position:relative}
  .body-checkout-confirmation h1{display:none}
  .body-checkout-confirmation #app-top:before{display:block;position:absolute;width:100%;height: 400px;z-index: 0;content:"";}
  .body-checkout-confirmation .ph3-ns{z-index:100;position: relative;background: #fff!important;padding: 0;}
  .body-checkout-confirmation .ph3-ns:after{content:"";display:block;height:52px;width:69px;background:url("/arquivos/check-orderplaced.png");position:absolute;right:5%;top:45%}
  .body-checkout-confirmation .cconf-alert{border:0;background: #61C462;display: flex;flex-direction: column;justify-content: center;margin-top: 50px;padding: 20px;border-radius: 5px;color: #fff;}
  .body-checkout-confirmation .cconf-alert *{color: #fff;}
  #print-bank-invoice span{width:300px;line-height: 35px;text-align: center;font-size: 14px;margin-top: 15px;text-transform: uppercase;font-weight: 700;border-radius: 5px;}
  .body-checkout-confirmation .cconf-alert span{margin-bottom:20px}
  h2.f4.mb0.lh-copy{font-weight:normal;font-size:25px;color:#4a4a4a}
  table.cconf-product-table.table.w-100.mt4{margin-top:40px}
  table.cconf-product-table.table.w-100.mt4 th{font-weight:normal;text-transform:uppercase;font-size:12px}
  table.cconf-product-table.table.w-100.mt4 td *{font-weight:normal;color:#4a4a4a}
  table.cconf-product-table.table.w-100.mt4 tr{border-bottom:2px solid #e5e5e5}

  .body-checkout-confirmation .w-100.fl.pa2.pl0 .fw4.f3.ma0.lh-copy{text-transform:uppercase;color:#282731;float:left}
  .body-checkout-confirmation .w-100.fl.pa2.pl0 time{display:block;float:left;clear: both;margin-top: 8px;}
  .body-checkout-confirmation .w-100.fl.pa2.pl0 .fw4.f3.ma0.lh-copy #order-id{font-weight: normal;font-size: 20px;}
  .body-checkout-confirmation h3.tracked-mega span{color: #cb343a;letter-spacing:0;font-weight: normal;font-size: 12px;}
  .body-checkout-confirmation .cconf-address *,
  .body-checkout-confirmation .cconf-address~div *{box-shadow: none !important;}
  .body-checkout-confirmation article{border:1px solid #d8d8d8;border-radius:5px;}

  .cconf-address article h3,
  .cconf-payment article h3,
  .cconf-summary article h3{padding-left:25px;height: 16px;display: flex;align-items: center;}

  .cconf-address article h3{background: url(/arquivos/icon-client-address-page.png) no-repeat 0px center;}
  .cconf-payment article h3{background: url(/arquivos/icon-client-orders-page.png) no-repeat 0 center;}
  .cconf-summary article h3{background: url(/arquivos/icon-client-orders-page.png) no-repeat 0 center;}


  
  .ship-postal-code input{width:130px!important;min-width:130px;}

  .body-checkout-confirmation .cconf-continue-button,
  .body-checkout-confirmation .cconf-myorders-button{background:#4a4a4a;font-weight:700;color:#fff;border:none;height:45px;line-height:45px;padding:0;text-transform:uppercase;font-size:12px;}
  .body-checkout-confirmation .cconf-continue-button{float:left;}
  .body-checkout-confirmation .cconf-continue-button:hover,
  .body-checkout-confirmation .cconf-myorders-button:hover{background:#6f6f6f;transition:all .15s linear} 
  .body-checkout-confirmation .cconf-myorders-button{background:#007200;color:#fff;}
  .body-checkout-confirmation .cconf-myorders-button:hover{background:#078807;}
  .box-delivery p {width: 100%;}
  .box-delivery p.ship-filled-data{flex-direction:column}
  .box-delivery p.ship-filled-data{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #ddd}

  #buscando-lojas{position: absolute;left: 50%;transform: translateX(50%);width: 200px;color: #fff;display: flex;margin-top: 5%;flex-direction: column;justify-content: center;z-index: 105;text-align: center;top: 15%;font-size: 16px;line-height: 20px;}

  #btn-identified-user-button, .identified-user-button {
      border: 1px solid transparent;
      background: none;
      background-color: #fff !important;
      border-radius: 2px;
      box-shadow: 0 2px 2px #111;
  }
}
/*texto verde para laranja - confirmacao do pedido*/
div.orderplaced-alert-text h4.orderplaced-successfully, h2.order-title span.order-date, h3.section-info-title span#order-id {
  color: #E38E26 !important;
}
@media screen and (max-width:414px) {
  .flag-store-safe {
      margin-right: 5px;
 }
  .logo-checkout {
      margin-left: 10px;
 }
  .product-image a img {
      margin-top: 5px !important;
 }
  .link-logout {
      color: #cecece !important;
      text-decoration: underline;
 }
}


.CardForm input {height: auto;font-size: 14px;line-height: 14px;min-height: 20px;}

.FormFieldLabel,
.AddressToggle label{color: #333!important;}

#creditCardpayment-card-0Name{width: 260px;}
#creditCardpayment-card-0Code{margin-top: 6px!important;width: 80px;height: 40px;}
.ChangeNumberOfPayments a{color: #E38E26}

@media (max-width: 768px) {
  footer#footer .int{padding:0 2%}
  small.seller.muted {
      display: none !important;
  }
  .full-cart .cart table tbody tr td.quantity-price span.total-price.hide, .full-cart .cart table tbody tr td.quantity-price span {
      display: none !important;
  }   
  .full-cart .cart table tbody tr td.item-remove {
      position: absolute !important;
      top: 10px !important;
      right: 20px !important;
      width: 14px !important;
  } 
  
  table.cart-items tbody .product-item {
      border-bottom: 0;
      margin-bottom: 68px;
      position: relative;        
  }
  .full-cart .cart table tbody tr td.quantity-price, .full-cart .cart table tr td {float: none;}
  
}

p.ChangeNumberOfPayments.clearfix {
  display: none !important;
}

@media only screen and (min-width: 980px){
  body .summary-coupon {position: absolute;left: 0;margin-left: 0!important;}
  body .summary-coupon a{text-decoration:none!important}
}

@media only screen and (max-width: 620px) {
  footer#footer .int .box-footer{margin-bottom:30px;justify-content: center;}
  footer#footer .int{flex-direction:column;justify-content: center;}
  .security ul li{margin-bottom:20px;}

}

@media only screen and (max-width: 480px) {
  #header > .int{justify-content:center;}
  #header > .int ul{display:none;}
  body.body-cart h1#cart-title{text-align:center}
}

#creditCardpayment-card-0Name {
  width: 260px;
}
.CardForm input {
  height: auto;
  font-size: 14px;
  line-height: 14px;
  min-height: 20px;
}

/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

#knob{
  padding: 20px 0 20px 0;
  box-shadow: 0 2px 4px 0 rgba(198,198,198,0.5);
}

#knob .dial {
  pointer-events: none;
  box-shadow: none;

  font: 700 14px "FuturaStdMedium"!important;
}

#knob .shell {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 71px;
  align-items: center;
  justify-content: space-between;
}

#knob .box-dial > div{
  display: inline-block!important;
  vertical-align: middle;
}  

#knob .box-dial > p{
  display: inline-block;
  vertical-align: middle;
  font: 500 18px "FuturaStdMedium";
  color: #000;
  margin: 0 0 0 32px;
  text-align: left;
  text-transform: uppercase;
}

#knob .more > a{

  font: 700 11px "FuturaStdMedium";
  background-color: #000000;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 17px 68px;
  text-decoration: none;
  text-shadow: none !important;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.x-seller-code {
  &__wrapper {
    padding: 75px 0 25px;
    @media (max-width: 420px) {
      margin-bottom: 75px;
    }
  }

  &__form {}

  &__label {
    @media (max-width: 420px) {
      display:flex;
      width: 100%;
    }
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    text-align: left;
  }

  &__input {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #dddddd;
    color: #666;
    height: auto;
    box-shadow: unset;
    text-shadow: unset;
    padding: 0.625rem 0.9375rem 0.625rem 0;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    border-radius: 0.25rem;
    width: calc(100% - 490px);
    height: 40px;
    outline: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    @media (max-width:420px) {
      width: calc(100% - 106px);
    }
  }

  &__submit,
  &__remove {
    width: 127px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;    
    padding: 0 1.25rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 40px;
    
    @media (max-width:420px) {
      width: 106px;
    }

    &.is--inactive {
      display: none;
    }
  }
  
  &__submit {
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2.3125rem;
    color: #666;
    font-weight: bold;
    background: #f6f6f6;

    @media (max-width:420px) {
      font-size: 0.875rem;
      line-height: 2.5rem;
    }
  }

  &__remove {
    line-height: 20px;
    font-size: 11px;
    color: #08c;
    text-transform: lowercase;
    
  }

  &__message {
    display: block;
    margin-top: 20px;
  }
}


// .x-seller-code {
//   &__wrapper {
//     width: 310px;
//     margin-top: 60px;
//     display: flex;
//     flex-direction: column;
//   }
//   &__form{
//     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-size: 14px;
//   }
//   &__label{
//     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-size: 14px;
//     color: #666;
//   }
//   &__input{
//     border: none;
//     color: #666;
//     padding: 8px 0;
//     font-size: 14px;
//     border-bottom: 1px solid #666;
//     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//   }
//   &__submit{
//     border: none;
//     color: #666;
//     padding: 10px;
//     font-size: 14px;
//     font-weight: 600;
//     background: #f6f6f6;
//     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//   }
//   &__message{
//     &.is--active{
//       color: #666;
//       display: block;
//       font-size: 14px;
//       margin-top: 10px;
//       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//     }
//   }
// }